.counter-background {
  background-image: url("https://t3.ftcdn.net/jpg/03/01/80/20/360_F_301802058_rlkPe4NJ32bEjX5TM9n4HpDnrqQqtaYa.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 0;
  position: relative;
  z-index: 1;
}

.counter-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.counter-box {
  background-color: #fff;
  border-radius: 10px;
  padding: 25px 20px;
  box-shadow: 0 10px 25px rgba(58, 112, 23, 0.81);
  text-align: center;
  width: 200px;
  transition: transform 0.3s ease;
}

.counter-box:hover {
  transform: translateY(-5px) scale(1.03);
}

.counter-box h2 {
  font-size: 30px;
  color: #000000;
  margin-bottom: 10px;
}

.counter-box p {
  font-size: 16px;
  color: #343131;
}

.counter-heading-container {
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.line- {
  width: 60px;
  height: 3px;
  background-color: #ffffff;
  margin: 0 auto 20px;
}

.counter-heading {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 15px;
}

.counter-description {
  font-size: 16px;
  line-height: 1.6;
  color: #e0e0e0;
}
