/* Footer Styling */
.footer {
    margin-top: 20px;
    background-color:rgb(3, 77, 7);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
  }
  
  .footer-container {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    margin-bottom: 0;
  }
  
  .footer-content {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 10px;
    padding: 0 20px;
    flex-wrap: wrap; /* Allows items to wrap on smaller screens */
  }
  
  .footer-content p {
    margin: 0;
    font-size: 14px;
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 15px; /* Increases spacing between items */
    }
  
    .footer-links,
    .social-media {
      justify-content: center;
    }
  
    .footer-links a,
    .social-icon {
      margin: 5px;
    }
  }
  
  @media (max-width: 576px) {
    .footer-content {
      flex-direction: column;
      text-align: center;
    }
  
    .footer-links a,
    .social-icon {
      display: block;
      margin: 5px 0;
    }
  }
  