.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 20px;
  position: fixed;
  top: 5px;
  left: 0;
  width: 100%;

  z-index: 1000;
}
.btn {
  padding: 8px 16px;
  margin: 0 -7px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #4caf50;
  text-decoration: none;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #45a049;
}

.admin-btn {
  background-color: #007bff;
}

.admin-btn:hover {
  background-color: #0069d9;
}

.logo-container {
  display: flex;
  align-items: center; /* Vertically align logos */
  gap: 10px; /* Space between the logos */
  
}

.logo {
  width: 100px;
}

.logo1 {
  width: 50px;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin: 0 20px;
}

.links {
  color: white;
  text-decoration: none;
  font-size: 18px;
   font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; 
 
}

.links:hover {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

/* Sidemenu */
.sidemenu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  height: 3px;
  width: 25px;
  background-color: white;
  margin: 2px 0;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.dark-nav {
  background-color: rgb(3, 77, 7);
  transition: 0.5s;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    height: 100vh;
    width: 50%;
    background-color: rgb(3, 77, 7);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
  }

  .nav-links.open {
    transform: translateX(0);
  }

  .nav-links li {
    margin: 20px 0;
  }

  .sidemenu {
    display: flex;
  }
}
